@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --pale-pink: #dd7766;
    --weird-gray: #e5e5e5;
    --odd-green: #8fb0a9;
}

main {
    min-height: 70vh;
}

body {
    background-color: var(--weird-gray);
    width: 100%;
}
