.pinkLine {
    background: linear-gradient(to right, #00000000 23px, var(--si-pink) 23px 27px, #00000000 27px) no-repeat top;
}

.circle-path {
    background-color: var(--si-pink);
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.redYellow {
    background: linear-gradient(to right, var(--si-maroon), var(--si-maroon) 70%, var(--si-dyellow) 70%);
}

.yellowRed {
    background: linear-gradient(to left, var(--si-maroon), var(--si-maroon) 70%, var(--si-dyellow) 70%);
}

.beigeGreen {
    background: linear-gradient(to bottom, var(--si-beige), var(--si-beige) 60%, var(--si-green) 60%);
}

.stroke-text {
    --stroke-color: var(--primary-no-alpha);
    text-shadow:
    -1px -1px 0 var(--stroke-color),  
    1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color),
    1px 1px 0 var(--stroke-color);
}